<%= form_with(model: utente) do |form| %>
  <% if utente.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(utente.errors.count, "error") %> prohibited this utente from being saved:</h2>

      <ul>
        <% utente.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nome, style: "display: block" %>
    <%= form.text_field :nome %>
  </div>

  <div>
    <%= form.label :cognome, style: "display: block" %>
    <%= form.text_field :cognome %>
  </div>

  <div>
    <%= form.label :eta, style: "display: block" %>
    <%= form.number_field :eta %>
  </div>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :codice_fiscale, style: "display: block" %>
    <%= form.text_field :codice_fiscale %>
  </div>

  <div>
    <%= form.label :text, style: "display: block" %>
    <%= form.text_field :text %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
