<div id="<%= dom_id utente %>">
  <p>
    <strong>Nome:</strong>
    <%= utente.nome %>
  </p>

  <p>
    <strong>Cognome:</strong>
    <%= utente.cognome %>
  </p>

  <p>
    <strong>Eta:</strong>
    <%= utente.eta %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= utente.email %>
  </p>

  <p>
    <strong>Codice fiscale:</strong>
    <%= utente.codice_fiscale %>
  </p>

  <p>
    <strong>Text:</strong>
    <%= utente.text %>
  </p>

</div>
