<div id="<%= dom_id user %>">
  <p>
    <strong>Nome:</strong>
    <%= user.nome %>
  </p>

  <p>
    <strong>Cognome:</strong>
    <%= user.cognome %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Eta:</strong>
    <%= user.eta %>
  </p>

  <p>
    <strong>Codice fiscale:</strong>
    <%= user.codice_fiscale %>
  </p>

</div>
