<% if current_user %>
    <h1>Dashboard di <%= current_user.nome %>!</h1>
    <p>Benvenuto</p>

<% end %>

<div class="notifiche">
    <% if @notifiche != 0 %>
        <p>ci sono <%=@notifiche%> nuove notifiche</p>
    <% else %>
        <p>Non ci sono nuove notifiche</p>
    <% end %>
     <%= link_to "Controlla le tue notifiche", notifiche_utenti_path(user_id: @u.id) %>
</div>

<div>
<% if @reservations.present? %>
  <h2>Eventi alla quale partecipi <%= @u.nome %></h2>
            <table>
            <thead>
                <tr>
                <th>Nome dell'evento</th>
                <th>Descrizione</th>
                <th>Luogo</th>
                <th>Citta</th>
                <th>Via</th>
                <th>Data Inizio</th>
                <th>Data Fine</th>
                <th>Capacita</th>
                <th>Capaccita corrente</th>
                <th>Prenotato il</th>
                <th>Modifica</th>
                
                <!-- Aggiungi altre colonne secondo necessità -->
                </tr>
            </thead>
            <tbody>
                <% @reservations.each do |reservation| %>
                <tr>
                    <td><%= reservation.event.nome %></td>
                    <td><%= reservation.event.descrizione %></td>
                    <td><%= reservation.event.luogo %></td>
                    <td><%= reservation.event.citta %></td>
                    <td><%= reservation.event.via %></td>
                    <td><%= reservation.event.data_inizio %></td>
                    <td><%= reservation.event.data_fine %></td>
                    <td><%= reservation.event.capacita %></td>
                    <td><%= reservation.event.capacita_corrente %></td> 
                    <td><%= reservation.data_prenotazione %></td> 
                    <td><%= button_to "Cancella", reservation_path(reservation, invocatore: "user"),method: :delete ,data: { confirm: "Sei sicuro di voler cancellare questa prenotazione?" }%></td>
                    <!-- Aggiungi altre colonne secondo necessità -->
                </tr>
                <% end %>
            </tbody>
            </table>
<% else %>
  <p>Nessun evento trovato per questo utente.</p>
<% end %>
</div>

<div class="ricerca-eventi">
    <%= link_to "Cerca nuovi eventi", ricerca_eventi_path %>
</div>


<!-- Bottone di logout -->
<% if current_user %>
    <%= button_to "Logout", logout_user_path, method: :delete %>
<% end %>

