<div id="<%= dom_id event %>">
  <p>
    <strong>Nome:</strong>
    <%= event.nome %>
  </p>

  <p>
    <strong>Luogo:</strong>
    <%= event.luogo %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= event.data %>
  </p>

  <p>
    <strong>Descrizione:</strong>
    <%= event.descrizione %>
  </p>

  <p>
    <strong>Capacita:</strong>
    <%= event.capacita %>
  </p>

  <p>
    <strong>Capacita corrente:</strong>
    <%= event.capacita_corrente %>
  </p>

  <p>
    <strong>Manager:</strong>
    <%= event.manager_id %>
  </p>

</div>
