<div class="welcome-box">
  <h1>Benvenuto nella pagina di index</h1>
  <p>Se sei già registrato fai il login :</p>
</div>

<div class="login-box">
  <h1>Login Utente</h1>
  <%= form_with(url: login_path, method: :post) do |form| %>
    <!-- Campi del form per il login utente -->
    <%= form.label :email %>
    <%= form.email_field :email %>

    <%= form.label :password %>
    <%= form.password_field :password %>

    <%= form.submit "Login" %>
  <% end %>
</div>

<div>
  <p><h6>Se non sei registrato scegli come vuoi registrarti: </h6></p>
</div>

<div class="registration-link">
    <p>Iscriviti come manager: 
    <%= link_to "Registati come manager", new_manager_path %> </p>

    <p></p>
    
    <p>Iscriviti come utente:
    <%= link_to "Registati come utente", new_user_path %></p>
</div>

